[Desktop Entry]
Name=OpenFlight Rolling Mode
Comment=Golf Launch Monitor Kiosk
Exec=lxterminal -e /home/coleman/openflight/scripts/start-kiosk.sh --mode rolling-buffer --trigger sound --sound-pre-trigger 12
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;Sports;
