name: Pylint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint pyserial flask flask-socketio flask-cors numpy opencv-python supervision
          pip install trackers@git+https://github.com/roboflow/trackers.git
      - name: Analysing the code with pylint
        run: |
          pylint src/openflight/ --fail-under=9
